<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>user_controller</servlet-name>
        <servlet-class>userController.user_controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor</servlet-name>
        <servlet-class>doctorController.doctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientAppoinment</servlet-name>
        <servlet-class>userController.PatientAppoinment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>adminController.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actions</servlet-name>
        <servlet-class>adminController.actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient</servlet-name>
        <servlet-class>doctorController.patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>searchModule.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>user_controller</servlet-name>
        <url-pattern>/user_controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor</servlet-name>
        <url-pattern>/doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientAppoinment</servlet-name>
        <url-pattern>/PatientAppoinment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actions</servlet-name>
        <url-pattern>/actions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
